{% extends '@layout/default.html.twig' %}

{% block content %}
    <h1>Lista de Clientes</h1>
    <table class="table table-hover" >
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Endereços</th>
        </tr>
    {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.email }}</td>
            <td>
                <dl class="dl-horizontal" >
            {% for endereco in cliente.enderecos %}
                <dt>Endereço {{loop.index}}</dt>
                <dd>
                    {{ endereco.logradouro }}, 
                    {{ endereco.cidade }}-{{ endereco.estado }}, 
                    CEP: {{ endereco.cep }}
                </dd>
            {% endfor %}
                </dl>
            </td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}