<div class="box-body" >
    {{ formHidden( form.get('csrf')) }}
    {% set messages_nome = formElementErrors(form.get('nome'), {class: 'help-block'}) %}
    <div class="form-group {{ messages_nome ? 'has-error' }}">
        {{ formLabel(form.get('nome')) }}
        {{ formElement(form.get('nome')) }}
        {{ messages_nome | raw }}
    </div>
    {% set messages_assunto = formElementErrors(form.get('assunto'), {class: 'help-block'}) %}
    <div class="form-group {{ messages_assunto ? 'has-error' }}">
        {{ formLabel(form.get('assunto')) }}
        {{ formElement(form.get('assunto')) }}
        {{ messages_assunto | raw }}
    </div>
    {% set messages_template = formElementErrors(form.get('template'), {class: 'help-block'}) %}
    <div class="form-group {{ messages_template ? 'has-error' }}">
        {{ formLabel(form.get('template')) }}
        {{ formElement(form.get('template')) }}
        {{ messages_template | raw }}
    </div>
    {% set messages_tags = formElementErrors(form.get('tags'), {class: 'help-block'}) %}
    <div class="form-group {{ messages_tags ? 'has-error' }}">
        {{ formLabel(form.get('tags'), 'Tags') }}
        {{ formElement(form.get('tags')) }}
        {{ messages_tags | raw }}
    </div>
</div>