{% extends '@layout/default.html.twig' %}

{% block title %}
    Lista de Tags - {{ parent() }}
{% endblock %}

{% block page_header %}
    Listagem de Tags
{% endblock %}

{% block form_busca %}
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="p" class="form-control" placeholder="Pesquisa...">
        <span class="input-group-btn">
        <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
        </button>
        </span>
    </div>
</form>
{% endblock %}

{% block content %}
    <div class="row" >
        <div class="box" >
            <div class="box-header" >
                <a class="btn btn-app" href="{{ url('tag.create') }}" >
                    <i class="fa fa-plus" ></i>
                    Novo
                </a>
            </div>
            
            <div class="box-body" >
                <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <th style="width: 10px;" >ID</th>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.id }}</td>
                            <td>{{ tag.nome }}</td>
                            <td>
                                <a href="{{ url('tag.update', {id: tag.id}) }}" 
                                   class="btn btn-default">
                                    <i class="fa fa-edit" ></i>
                                    Editar
                                </a>
                                <a href="{{ url('tag.delete', {id: tag.id}) }}" 
                                   class="btn btn-danger">
                                    <i class="fa fa-remove" ></i>
                                    Excluir
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}